@font-face {
    font-family: myFirstFont;
    src: url(lemon_milk/LEMONMILK-Light.otf);
  }

*{
    margin : 0;
    padding: 0;
    transition: ease-in-out 0.1s;

}

.maoLogo img{
    width:100%;
}

h1, h2, h3, h4{
    font-family: myFirstFont;

}

b{
    color : #0098c6;
}

a{
    text-decoration: none;
}

.drapeau > img{
    width: 35%;
}

#displayImageDiv{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2525258a;
    z-index: 100;
    text-align: center;
    display: none;
}

#displayImageDiv img{
    height: 70%;
    position: relative;
    top: 15%;
}

body,html{
    background-color: black;
    height: 100%;
    width: 100%;
}

p{
    color: #888888;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: #6a6a6a;
  border: 0px none #ffffff;
  border-radius: 9px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #c0c0c0;
  border: 0px none #ffffff;
  border-radius: 14px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


section#main_page{
    height: 85%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: calc(15%/2);
    background: white;
}

section#main_page > *{
    display: inline-block;
    overflow: overlay;

}


/********************* NAV *********************/
nav{
    background-color: white;
    height: 70%;
    width: 80px;
    margin-top: 10%;
    margin-bottom: auto;
}

nav .icon{
    width: 100%;
    /* margin-bottom: 10px; */
    font-size: 20px;
    text-align: center;
    font-size: 25px;
    padding: 11px 0px;
    color: black;
}

nav .icon.active{
    color: #0098c6;
}

nav .icon:hover{
    color: #0098c6;
}


/********************* PHOTO *********************/

section#my_photo{
    background: url(img/moi.jpg);
    background-size: cover;
    background-position: center;
    height: 108%;
    width: 40%;
    position: absolute;
    top: -4%;
    margin-left: -4px;
    box-shadow: 0 32px 84px 0 rgba(0,0,0,0.5);

}

section#my_photo > div{
    position: absolute;
    bottom: 67px;
    width: 100%;
    background: #0000008c;
    text-align: center;
    padding: 17px 0;
}

section#my_photo > div .name{
    font-size: 34px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

section#my_photo > div .job{
    font-size: 15px;
    font-weight: bold;

    color: #0098c6;
    text-transform: uppercase;
    margin-top: 10px;
}

/********************* Content *********************/


#content{
    height: 100%;
    width: calc(100% - 40% - 100px + 4px);
    margin-right: 0;
    position: absolute;
    right: 0;
}
#content .resume{
    padding-bottom: 20px;
}
#content > section{
    padding: 30px 30px 0 30px;
}



#content h1{
    font-size: 30px;
}

#loisir h1{
    margin-bottom: 50px;
}

#loisir h3{
    font-size: 25px;
    border-bottom: 1px solid white;
    margin-bottom: 14px;
    padding-bottom: 10px;
}

#loisir article{
   
    text-align: center;
    border: 1px solid black;
    position: relative;
    color: white;
    margin: 50px 0;
}

#loisir article.jeuxvideo{
    background: url(img/ff.jpg);
    background-size: cover;
    background-position: center;

}

#loisir article.sakura{
    background: url(img/sakura.jpg);
    background-size: cover;
    background-position: center;

}


#loisir article.danse{
    background: url(img/danse.jpg);
    background-size: cover;
    background-position: center;

}

#loisir article.musique{
    background: url(img/musique.png);
    background-size: cover;
    background-position: center;

}


#loisir ul{
    list-style: none;
    font-size: 20px;
}

#loisir .overlay{
    height: 100%;
    width: 100%;
    background-color: #404040d1;
    position: absolute;
    top: 0;

}

#loisir .loisircontent {
    position: relative;
    padding: 20px;
}

#content .sub_text{
    color: #0098c6;
    padding: 0 0 25px 0;
    font-size: 18px;
    text-align: right;
}
/*
article::after{
    content: '';
    right: 30px;
    height: 2px;
    background-color: black;
    opacity: 0.09;
    display: block;
}*/

/****** Skill **********/

h2, h1.avecmarge{
    margin: 25px 0;
}


.skill {
    width: 100%;
    height: 50px;
}

.skill .skill-name{

}

.skill .skill-value{
    float: right;

}

.skill .skill-line{
    background-color: #eeeeee;
    height: 5px;
    width: 100%;
    position: relative;
    top: 10px;
}


.skill .skill-line .active-line{
    background-color: #0098c6;
    height: 5px;
    width: 100%;

}
.skill .skill-line .active-line.p10{
    width: 10%;
}

.skill .skill-line .active-line.p20{
    width: 20%;
}

.skill .skill-line .active-line.p30{
    width: 30%;
}

.skill .skill-line .active-line.p40{
    width: 40%;
}

.skill .skill-line .active-line.p50{
    width: 50%;
}

.skill .skill-line .active-line.p60{
    width: 60%;
}

.skill .skill-line .active-line.p70{
    width: 70%;
}

.skill .skill-line .active-line.p80{
    width: 80%;
}

.skill .skill-line .active-line.p90{
    width: 90%;
}

/**************** Education ****************/
.content_education > article{
    padding-top : 25px ;
}


.content_education > article:hover{
    background-color: #a0a0a021;
    cursor: default;
}


.content_education > article::after{
    content: '';
    right: 30px;
    height: 2px;
    background-color: black;
    opacity: 0.09;
    display: block;
    margin-top: 20px;
}

.content_education .date{
}

.content_education .titre{
    color : #0098c6;
    font-size: 20px;
}

.content_education .logo_organisation{
    height: 50px;
    float: right;
    margin-top: 7px;
}

.content_education > article:nth-child(odd){
    text-align: right;
}

.content_education > article:nth-child(odd) .logo_organisation{
    text-align: right;
    float: left;
}


.content_education .description{
    margin-top: 10px;

}

.content_education .organisation{
}

/****************** EXP **********************/


#content_exp p{
    margin : 10px 0 ;
    text-align: center;
}
#content_exp p::after{
    content: '';
    right: 30px;
    height: 2px;
    background-color: black;
    opacity: 0.09;
    display: block;
    margin-top: 20px;
}
#content_exp ul{
    padding: 0 51px;
    list-style: none;
  
}


#content_exp li{
    text-align: left;
    border-bottom: solid 1px #e9e9e9;
    margin-bottom: 10px;
    padding-bottom: 12px;
    color: #888888;
}
#content_exp li:last-child{
    border-bottom: none;
}

#content_exp ul li::before{
    content: "•";
    color: red;
    padding-left: 0px;
    position: relative;
    left: -10px;
}

#content_exp .contexte{
    font-size: 17px;
    font-style: italic;
}

#content_exp img{
    height: 50px;
    float: right;
}

#content_exp .techno{
    
}
#content_exp h2 span
{
    display: block;
}
#content_exp h2 span.orange
{
    display: inline-block;
    color: orangered;
}

span.orange{
    color: orangered;

}

#content_exp h2 span.organisation
{
    font-size: 20px;
}

h2 span.job{
    color:#0098c6 ;
}

h3{
    text-align: center;
    padding-bottom: 16px;
}


/************** Maquette *************************/
#maquette > article{
}
#maquette .element{
    width: 48%;
    display: inline-block;
    float: left;
    padding: 1%;
}

#maquette .element p{
    background-color: #252525b5;
    position: relative;
    bottom: 26px;
    color: white;
    text-align: center;
    padding: 2px;
}

#maquette .element img{
    width: 100%;
}

#maquette2 > article{
}
#maquette2 .element{
    width: 100;
    padding: 1%;
    text-align: center;
}

#maquette2 .element p{
    background-color: #252525b5;
    position: relative;
    bottom: 26px;
    color: white;
    text-align: center;
    padding: 2px;
    margin : auto;
    width: 50%;
}

#maquette2 .element img{
    width: 50%;
}


#content_danse li{
    list-style: none;
    text-align: center;
}


#content_danse h3{
    color: #0098c6;
    margin-top: 30px;
    border-top: 1px solid #58585833;
    padding-top: 15px;
}


#content_danse h4{
    margin-bottom: 10px;
}



ul.listGroupe > li{
    margin-bottom: 30px;
}

ul.listGroupe > li > ul{
    color: black;
    width: 50%;
    margin: auto;
}

#content_danse ul.listGroupe > li > ul > li{
    text-align: left;
    list-style: circle;
}

.foot{
    padding-bottom: 100px;
    display: block;
}

.readMore{
    background-color: #0098c6;
    margin: auto;
    /* text-align: left; */
    width: fit-content;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-top: 25px;
}

.borderGray{
    display: block;
    height: 2px;
    width: 60%;
    margin: auto;
    background-color: #6d6d6d54;
    margin-top: 30px;
}





@media screen and (max-width: 640px){
    section#my_photo{
        display: none;
    }
    #content{   
        width: calc(100% - 80px);
    }
    section#main_page {
        height: 100%;
        width: 100%;
        position: relative;
        top: 0 ;
    }
    
    
}
